.box {
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px;
    width: 80%;
    height: auto;
}
.box-dalam{
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-align: center;
    font-size: 16px;
}

h2 {
    margin-top: 2px;
    text-align: center;
    font-size: 16px;
}
h3 {
    margin-top: 2px;
    font-size: 16px;
}
.nama {
    margin-top: 2px;
    text-align: center;
    font-size: 16px;
}

